<div [className]="'container'">
    <div [className]="'item card'">
        <h2>About the App</h2>
        <p>Mary's App is a Single Page Application that uses data from the OpenWeatherMap API to display weather details about a city in Ghana</p>

        <p [className]="'topicsUsed'">The following were included in the building of the application:</p>
        
        <ul>
            <li>CSS Flexbox</li>
            <li>Routing </li>
            <li>Services </li>
            <li>Components </li>
            <li>Modules </li>

        </ul>
    </div>

</div>    