.logo {
  font-size: 2.2rem;
  color: #fff;
}
.nav-component {
  width: 350px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-component a {
  text-decoration: none;
  color: #fff;
}

ul.nav-list {
  text-align: right;
  list-style-type: none;
  display: inline;
}

ul.nav-list li {
  display: inline-block;
  padding-left: 24px;
}

@media only screen and (max-width: 739px) {
  .logo {
    font-size: 1.5rem;
  }
  ul.nav-list {
    text-align: center;
  }
  ul.nav-list li {
    padding-left: 0;
    display: block;
  }
  .logo {
    text-align: center;
  }
  .nav-component {
    padding: 10px 0;
  }
}
