<div [className]="'container'">
    <div [className]="'item logo'">Mary's App</div>
    <nav [className]="'item'">
        <ul [className]="'nav-list'">
            <li [className]="'nav-item'">
                <a [routerLink] = "''">Home</a>
            </li>
            <li [className]="'nav-item'">
                <a [routerLink] = "'/about'">About</a>
            </li>
            <li [className]="'nav-item'">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>

</div>

<router-outlet></router-outlet>

