h2 {
  font-size: 2rem;
  font-weight: 200;
}

h3 {
  font-size: 3rem;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
} */

/* .item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid none;
  background-color: #fff;
  border-radius: 4px;
  height: 350px;
  width: 350px;
} */

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  border: none;
}

button:hover {
  background-color: #002ead;
  transition: 0.7s;
  color: #fff;
  font-weight: 600;
}
