<div [className]="'container'">
    <div [className]="'item card'">
        <h2>{{weather?.name}}</h2>
        <h4>{{weatherDescription?.description}}</h4>
        <span *ngIf="btnState">
            <h3>{{degree_celsius | number : '1.2-2'}} °C</h3>
            <button (click) = "loadFahrenheit()">Convert to Fahrenheit</button>
    
        </span>
        <span *ngIf="!btnState">
            <h3>{{degree_fahrenheit | number : '1.2-2'}}°F</h3>
            <button (click) = "loadCelsius()">Convert to Celsius</button>
    
        </span>
    </div>

    <div [className]="'item card'">
        <h2>Country: {{weather?.sys?.country}}</h2>
        <p>Longitude: {{weather?.coord?.lon}}</p>
        <p>Latitude: {{weather?.coord?.lat}}</p>
        <p>Time: </p>
    </div>
</div>


