<div [className]="'container'">
    <div [className]="'item card'">
        <h2>Retrospective of the Week</h2>

        <div [className]="'learnings'">
            <div>
                <fa-icon [icon]="faChalkboardTeacher" size="3x"></fa-icon>
                
                <p>Discussions</p>
            </div>
            <div>
                <fa-icon [icon]="faPeopleGroup" size="3x"></fa-icon>
                <p>Collaboration</p>
            </div>
            <div>
                <fa-icon [icon]="faBook" size="3x"></fa-icon>
                <p>Learning New Things</p>
            </div>
            
        </div>
    </div>

</div>    